# dependencies
**/node_modules
**/.pnp
**/.pnp.js
**/yarn.lock

# testing
**/coverage

# production
**/dist

# misc
**/.DS_Store
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.git

# Ignore bundler config.
/api-purchasing-power/.bundle

# Ignore all logfiles and tempfiles.
/api-purchasing-power/log/*
/api-purchasing-power/tmp/*
!/api-purchasing-power/log/.keep
!/api-purchasing-power/tmp/.keep

# Ignore pidfiles, but keep the directory.
/api-purchasing-power/tmp/pids/*
!/api-purchasing-power/tmp/pids/
!/api-purchasing-power/tmp/pids/.keep

/api-purchasing-power.byebug_history

# Ignore master key for decrypting credentials and more.
/api-purchasing-power/config/master.key