body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif !important;
}

.footer {
  padding: 1rem;
}

.bg-brasil-green {
  background-color: rgb(0, 156, 59) !important;
}

.dropdown-toggle::after {
  display: none !important;
}